@import '~bootstrap';

body {

}

.head {
    padding: 10px 0;
    background: #6F233F;
}

.wrapper__main {
    width:100%;
}

.wrapper__content {
    margin-top: 20px;
    text-align: center;
}

.wrapper__content--in {
    max-width: 800px;
    margin: auto;
    background: #fff;
}

.head {
    text-align: center;
}

table tr.selected {
    td {
        background: #6F233F;
        color: white;
    }
}